*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin-top: 20px;
}
h1, h4{
    text-align: center;
}
h4{
    margin-top: 10px;
}
h5{
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.email{
    margin: 20px auto;
    width: 270px;
    padding: 7px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
}
.password{
    width: 270px;
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
}
.ancher{
    margin-top: 40px;
    width: 270px;
    height: 40px;
    background: rgb(73, 71, 71);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
}
.ancher:hover{
    background: rgb(179, 179, 179);
    color: black;
}
.img{
    display: flex;
    height: 35px;
    margin-bottom: 60px;
}
img{
    width: 25px;
    height: 25px;
    margin: 20px 12px;
    transition: 0.3s;
}
img:hover{
    width: 30px;
    height: 30px;
}
p{
    margin-top: -20px;
}
h4 a{
    text-decoration: none;
    transition: 1s;
}
h4 a:hover{
    color: blue;
}